belgium-traffic/Training
belgium-traffic/Testing
mnist-classifer/data
mnist-classifer/data/*
*.meta
*.index
*.data*


dataset/classical/mp3s/*
dataset/classical/wav_files/*
dataset/classical/spectrograms/*
dataset/hiphop/mp3s/*
dataset/hiphop/wav_files/*
dataset/hiphop/spectrograms/*